[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = [
  "cheartpy-abaqus/src",
  "cheartpy-cl/src",
  "cheartpy-cmd-tools/src",
  "cheartpy-fe/src",
  "cheartpy-io/src",
  "cheartpy-mesh/src",
  "cheartpy-paraview/src",
  "cheartpy-search/src",
  "cheartpy-vtk/src",
  "cheartpy-xml/src",
]
include = ["cheartpy.*"]

[project]
name = "cheartpy"
version = "0.2.0"
authors = [{ name = "Will Zhang", email = "willwz@gmail.com" }]
description = "Python module for creating Cheart pfiles and executing them."
readme = "README.md"
requires-python = ">=3.12"
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: MIT License",
  "Operating System :: Linux",
  "Development Status :: 0 - Alpha",
]
dependencies = [
  "arraystubs@git+https://github.com/willwiz/arraystubs",
  "pytools@git+https://github.com/willwiz/pytools",
  "numpy",
  "meshio",
]

[project.scripts]
cheart2vtu = "cheartpy.paraview.__main__:cheart2vtu_cli"
